:root {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
}

.landing-text {
  color: white;
  margin-bottom: 10%;
}

body {
    background-color: #DFE8D6;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
}