.navbar{
  background-color: rgb(39, 167, 172);
      
}
.maincontainernavbar{
  height: 30px;

}
.nav-list {
  list-style: none;
  display: flex;
  width: 30%;
  font-size: 2rem;
  justify-content: left; 

  li a {
    margin-left:30px;
    margin-right:30px;
    text-decoration: none;
    color: #f2f55e;
    
  }

  .active {
    font-weight: 700;
  }
}

.btn-nav{
 
  border-image-slice: 3;
 
  text-decoration:whitesmoke;
  transition: all 0.4s ease;
}